@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .horizontal {
        overflow: auto;
    }
    .primary{
        background-color: rgb(53, 53, 53); 
    }
    .text-primary{
        color: rgb(53, 53, 53); 

    }
}